[submodule "Aprendiendo-Git"]
	path = Aprendiendo-Git
	url = https://github.com/robertofg93/Aprendiendo-Git
[submodule "Aprendiendo-Dockerfile"]
	path = Aprendiendo-Dockerfile
	url = https://github.com/robertofg93/Aprendiendo-Dockerfile.git
[submodule "Dockerfile"]
	path = Dockerfile
	url = https://github.com/webdevops/Dockerfile/
[submodule "Jenkins"]
	path = Jenkins
	url = https://github.com/robertofg93/Jenkins
